// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background: #f7f7ff;
    margin-top:20px;
    background-image: url("https://i.imgur.com/81RTZEw.png");
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
}
.me-2 {
    margin-right: .5rem!important;
}

#user_year, #user_month, #user_day{
    width: 32.76%;
    height: 35px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

#user_year:hover, #user_month:hover, #user_day:hover{
    outline: dodgerblue;
}